.diagonal-background {
    background-color: blueviolet;
    position: absolute;
    width: 100vw;
    transform: skewY(-11deg);
    margin: -8px;
    height: 450px;
    transform-origin: top left ;
    z-index: -1;
}

header {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    /* margin: 80px 80px 0 -60px; */
    margin: 10%;
    position: relative;
}

body {
    display: inline-block;
    position: relative;
}

/* .main-picture {
    width: 250px;
}

.main-picture-div {
    position: absolute;
    top: -50px;
    left: -50px;
} */

.small-logo {
    width: 30px;
}

.header-info {
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px rgb(201, 200, 200);
    padding: 1em;
}

/* .empty-space {
    width: 200px;
    height: 100px;
    visibility: hidden;
    float: left;
}

h1 {
    padding-left: 200px;
} */

.logo-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px; /* not ideal? */
}

@media (min-width: 600px) and (max-width: 1200px) {
    .empty-space {
        width: 200px;
        height: 100px;
        visibility: hidden;
        float: left;
    }
    
    h1 {
        padding-left: 200px;
    }

    .main-picture {
        width: 250px;
    }
    
    .main-picture-div {
        position: absolute;
        top: -50px;
        left: -50px;
    }
}

@media (min-width: 1200px) {
    header {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 2fr 3fr;
    }

    .main-picture {
        width: 100%;
        /* max-width: ; */
    }

    .main-picture-div {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .header-info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
}